body{
    text-align: center;
}
#mood {
    font-size: 5em;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    padding: 50px;
    width: 500px;
    border-radius: 50px;
}

button {
    margin: 20px;
    padding: 10px 20px 10px 20px;

    font-size: 1.5em;
}