<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boggle Game</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
      <div id="title">
          Boggle Game
      </div>
    <div id="content">
      <table class="board">
        {% for row in board %}
        <tr>
          {% for cell in row %}
          <td>{{cell}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <div class="score-board">
        <div class="timer">Time Left: <span class="seconds">60</span> Seconds</div>
        <div class="score-div">Current Score:<span class="score"></span></div>
        <div class="words-title">Found Words:</div>
        <div class="words"></div>
      </div>
      <div class="guess">
        <p class="message">
        </p>
        <form class="form-guess">
          <label for="word">Guess a word: </label>
          <input
            class="word"
            id="word"
            name="word"
            type="text"
            pattern="^[a-zA-Z]*"
            minlength="1"
            maxlength="20"
            required
          />
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="history">
        <div class="history-title">Play History:</div>
        <div class="history-content">
          <ul>
            {% for i in range(10 if history | length > 10 else history | length) %}
              <li>{{ history[-1 - i].time }} : {{ history[-1 - i].score }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/app.js"></script>
  </body>
</html>
