.VentingMachine {
    max-width: 1024px;
    margin: 0px auto;
    position: relative;
}

.VentingMachine img{
    width: 100%;
}


.VentingMachine-links{
    width: 300px;
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: rgba(256, 256, 256, 0.5);
}


.VentingMachine-links a{
    color: white;
    font-size: 3em;
    font-weight: 300;
    display: block;
}