.ColorForm {
    background-color: blanchedalmond;
    width: 100vw;
    height: 100vh;
    font-size: 1.5em;
    padding-top: 100px;
}

.ColorForm-field{
    text-align: left;
    max-width: 400px;
    margin: 0px auto;
    padding:20px;
}

.ColorForm-field input{
    font-size: 1.5em;
    width: 100%;
}
.ColorForm button{
    font-size: 1.2em;
    border-radius: 10px;
    padding:10px 30px 10px 30px;
}