{% extends 'base.html' %}

{% block title %}
Blogly
{% endblock %}

{% block content %}
<div>
    <h1>Blogly Recent Posts</h1>
    <div>

        {% for post in posts %}
        <div>
            <h2>
                <a href="/posts/{{post.id}}">{{post.title}}</a>
            </h2>
            <div class="content">
                {{post.content}}
            </div>
            <div class="tags">
                <span class="tag-title">Tags: </span>
                {% for tag in post.tags %}
                    <span class="tag">{{tag.name}}</span>
                {% endfor %}
            </div>
            <div class="author">
                Posted by {{post.user.full_name}} on {{post.created_at.strftime(" %a %b %d %Y , %I:%M %p")}}
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}