{% extends 'base.html' %}

{% block title %}
Edit a Tag
{% endblock %}

{% block content %}
<div class="form">
    <h1>Edit a Tag</h1>
    <form method="POST">
        {% if message %}
        <div class="message">
            {{message}}
        </div>
        {% endif %}
        <div>
            Name 
        </div>
        <input type="hidden" id="id" name="id" value="{{tag.id}}" />
        <input type="text" id="name" name="name" value="{{tag.name}}" required />
        <div class="action">
            <button type="submit" class="button button-submit">Update</button>
        </div>
    </form>
</div>
{% endblock %}