{% extends 'base.html' %}

{% block title %}
{{user.first_name}} {{user.last_name}}
{% endblock %}

{% block content %}
{% if user.image_url %}
<div class="image-container">
    <img src="{{user.image_url}}" class="user-image" />
</div>
{% endif %}
<div class="main">
    <h1>{{user.get_full_name()}}</h1>
    <div>
        <form action="/users/{{user.id}}/delete" method="POST">
            <a href="/users/{{user.id}}/edit" class="button button-edit">Edit</a>
            <button type="submit" class="button button-delete">Delete</button>
        </form>
    </div>
</div>
{% endblock %}