{% extends 'base.html' %}

{% block title %}
{{user.full_name}}
{% endblock %}

{% block content %}
{% if user.image_url %}
<div class="image-container">
    <img src="{{user.image_url}}" class="user-image" />
</div>
{% endif %}
<div class="main">
    <h1>{{user.full_name}}</h1>
    <div>
        <form action="/users/{{user.id}}/delete" method="POST">
            <a href="/users/{{user.id}}/edit" class="button button-edit">Edit</a>
            <button type="submit" class="button button-delete">Delete</button>
        </form>
    </div>
    <h1>Posts</h1>
    <div>
        <ul>
            {% for post in user.posts %}
            <li>
                <a href="/posts/{{post.id}}">{{post.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <a href="/users/{{user.id}}/posts/new" class="button button-add">Add Post</a>
    </div>
</div>
{% endblock %}