@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
body{
    font-size: 1.5em;
    font-weight: bolder;
}
input{
    width: 100%;
    font-size: 1.2em;
    margin: 10px;
    padding: 10px;
}
button{
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
}
#memes{
    display: flex;
    flex-wrap: wrap;
}
#memes div {
    position: relative;
    width: 45%;
    overflow: visible;
    margin: 10px;
    padding: 10px;
    border-style: none;
    text-shadow: 2px 2px #000000;
    font-family: 'Dancing Script', cursive;
}
#memes div img {
    width: 100%;
}

#memes div.top-text{
    position: absolute;;
    top: 30px;
    width: 90%;
    text-align: center;
    height: 50px;
    z-index: 10000;
    color: beige;
    font-size: 2.5em;
    border-style: none;
}
#memes div.bottom-text{
    position: absolute;
    width: 90%;
    bottom: 20px;
    text-align: center;
    height: 50px;
    z-index: 10000;
    color: beige;
    font-size: 2em;
    border-style: none;
}
#memes div button{
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    z-index: 10000;
    color:red;
    background: none;
    border: none;
    font-weight: bold;
}