.container {
    display: flex;
    flex-wrap:nowrap;
    margin: auto;
    align-self:center
}
.image-container{
    padding: 10px;
}
.user-image{
    width: 120px;
    height: 150px;
}
.menu{
    background-color: blue;
    padding: 10px;
    font-size: 1.5em;
}
.menu a{
    color: white;
    padding: 10px;
}
.menu a:hover{
    background-color: turquoise;
}
.main {
    padding: 10px;
}
.content, .author{
    font-size: 1.2em;
    padding: 5px;
}
.form {
    font-size: 1.5em;
}
.message{
    color: red;
    text-align: center;
}
.form input{
    width: 100%;
    font-size: 1em;
    margin: 5px;
}
.form textarea{
    width: 100%;
    font-size: 1em;
    height: 100px;
    margin: 5px;
}
.action{
    text-align: right;
}
.button{
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    font-size: 1.5em;
    margin: 5px;
}
.button-add{
    background-color: grey;
    color: white;
}
.button-submit{
    background-color: green;
    color: white;
}
.button-reset{
    background-color: cornflowerblue;
    color: white;
}
.button-edit{
    background-color: blue;
    color: white;
}

.button-delete{
    background-color: red;
    color: white;
}