@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/* title */
#title{
  text-align: center;
  text-shadow: 2px 2px #000000;
  font-size: 3em;
  font-weight: 500;
  font-family: 'Dancing Script', cursive;
}
#game {
  text-align: center;
}
/* game board table */
#board {
  margin: 0 auto;
}
#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  position: relative;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  transition: position 1s ease-in-out;
  position: absolute;
  top : -20px;
}
.p1{
  background-color: green;
}
.p2{
  background-color: pink;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
